body {
    /*background: linear-gradient(to right, #144B39, #1E6B52);*/
    background: #144B39;
}

* { 
    font-family: "proxima-nova", Helvetica, Arial, sans-serif !important;
}

.btn, .btn-outline-primary{
    background: #88C408 !important;
    border: #88C408 !important;
}
.container {
    background: white;
}

#result {
    white-space: pre-line;
    border-radius: 5px;
    border: 3px;
    border-color: black;
}